body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/background.jpg);
    filter: blur(3px);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.navbar{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background:linear-gradient(90deg,#000000 25%,#c9c633) 85%;
    color: white;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 15px;
    min-height: 100px;
}
/*Caixa Logo*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}
/*Logo*/
.logo img{
    width: 90px;
    border-radius: 50%;
}
/*Caixa Menu*/
.menu{
    display: flex;
    gap: 50px;
    padding: 10px;
}
/*Links Menu*/
.menu a{
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size:large;
    transition: 0.4s;
}
.menu a:hover{
    opacity: 0.7;
}
.telefone{
    margin:0;
    background:#00000044;
    border-radius: 20px;
    font-weight: bold;
    padding: 4px 11px;
}
span{
    font-size:small;
    font-weight:bold ;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        height: auto;
        gap:20px;
        padding: 20px 10px;
    }
    .menu{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu a{
        font-size: 16px;
    }
    .logo img{
        width: 70px;
    }
}
.hero{
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-top: 0;
    height: 30px;
    background: #0000006b;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg,#d4d0d052, #cacac6, #d4d0d052);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 25px;
}
.container-principal h1{
    background: linear-gradient(90deg,#d4d0d052, #cacac6, #d4d0d052);
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
}
.container-principal{
    background: rgba(85, 87, 82, 0.829);
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px #000000;
    min-height: 300px;
}
.header-passo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.numero-passo {
    background-color: #0056b3;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}
.grid-estofados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.card-item{
    border: 1px solid rgb(90, 85, 85);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    flex-direction: column;
    gap: 2px;
    background-color: #b8afaf;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-item.active{
    border: 2px solid #0056b3;
    background-color: #f0f7ff;
}
.icon-box{
    font-size: 25px;
    margin-bottom: 5px;
}
.card-item span{
    font-size: 14px;
    font-weight: 700;
    color: #000000
}
.passo-2{
    margin-top: 20px;
}
.selecao-lugares{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: -5px;
}
.btn-lugar input{
    display: none;
}
.btn-lugar{
    border-radius: 8px;
    background-color: #b8afaf;
    gap: 5px;
    padding: 20px;
    border: 1px solid rgb(90, 85, 85);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    transition: all 0.4s ease;
}
.btn-lugar:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f0f7ff;
}
.btn-lugar:has(input:checked) {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
}
.passo-3{
    margin-top: 20px;
}
.grid-checkbox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.check-item input{
    display: none;
}  
.grid-checkbox-nivel{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: -5px;
}
.check-item{
    background-color: #b8afaf;
    border-radius: 8px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    transition: all 0.4s ease;
    min-width: 130px;
    padding: 20px 10px;
    text-align: center;
}
.check-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f0f7ff;
}
.check-item:has(input:checked){
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
}

